#vworld {
	.map-panel {
		height: 100px;

		.item {
			display: flex;
			justify-content: center;
			align-items: center;

			.label {
				width: 45px;
			}

			.body {
				flex: 1;

				display: flex;
				align-items: center;

				select {
					width: 100%;

					padding: 5px;

					border: 1px solid #CCCCCC;

					&:focus {
						outline-color: dodgerblue;
						outline-width: 0.1px;
						outline-style: inset;
					}
				}
			}
		}
	}
}