#wfs {
	position: fixed;

	width: 100%;
	height: 100%;

	.boundary {
		position: absolute;
		right: 10px;
		bottom: 140px;

		background-color: rgba($color: white, $alpha: 0.75);

		border-radius: 100px;

		padding: 5px 20px;
		box-sizing: border-box;

		z-index: 2;
	}

	.position {
		position: absolute;
		right: 10px;
		bottom: 100px;

		background-color: rgba($color: white, $alpha: 0.75);

		border-radius: 100px;

		padding: 5px 20px;
		box-sizing: border-box;

		z-index: 2;
	}
}