* {
	user-select: none;
}

html,
body {
	transition: 0.3s;
}

img {
	pointer-events: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

.mapbadge {
	translate: -50% 0%;
	pointer-events: none;
	opacity: 0.75;
}