.map-board {
	position: absolute;
	bottom: 75px;
	right: 25px;

	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	background-color: white;
	border: 1px solid gainsboro;
	border-radius: 10px;

	box-shadow: 3px 3px 10px grey;
	box-sizing: border-box;

	width: 220px;
	height: 325px;

	overflow: hidden;

	transition: width 0.3s, height 0.3s;

	.item {
		display: flex;
		flex-direction: column;
		gap: 5px;

		& > div {
			display: flex;
			align-items: center;

			background-color: #EEEEEE;

			border: 1px solid gainsboro;
			border-radius: 5px;

			font-size: 14px;

			small {
				display: inline-block;
				width: 40px;

				text-align: center;
			}

			input, select {
				width: 140px;
				height: 100%;

				padding: 5px;

				border: transparent;
				box-sizing: border-box;

				font-size: 12px;

				&:focus {
					outline-color: dodgerblue;
					outline-width: 0.1px;
					outline-style: inset;
				}
			}

			button {
				background: transparent;
				border: transparent;

				padding: 5px;

				font-size: 12px;

				cursor: pointer;

				&:active {
					opacity: 0.5;
				}
			}
		}

		&[data-name=header] {
			display: block;

			button {
				padding: 5px;
				box-sizing: border-box;

				border: transparent;
				background-color: transparent;

				cursor: pointer;
			}
		}
	}

	&[data-show=false] {
		width: 30px;
		height: 30px;

		padding: 2px;

		border-radius: 4px;

		transition: width 0.3s, height 0.3s;
	}
}