.map-interaction {
	position: absolute;
	bottom: 25px;
	left: 25px;

	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	button {
		$size: 40px;
		width: $size;
		height: $size;

		border: transparent;
		border-radius: 50%;
		box-shadow: 0px 0px 5px grey;

		cursor: pointer;

		&:active {
			opacity: 0.5;
		}

		&.location {
			background-color: springgreen;
			color: grey;
		}
	}
}